body {
    background-image: url("https://i.pinimg.com/originals/bd/af/76/bdaf7600ad567b8251d9951c5e397420.jpg");
    background-color: ivory
}

.container {
    margin: 50px;
    margin-top: 50px
}

header {
    background-color: white;
}

.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #000000;
}

#header, h1, h2, h3 {
    font-family: 'Source Code Pro', monospace;
}

#input-title, #input-body {
    width: 80%
}

.form-group {
    margin: 15px;
}
