body {
    background-color: rgb(238, 233, 97);
}

.container {
    margin: 50px;
    margin-top: 50px
}

.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px
}

#header, h1, h2, h3, p {
    font-family: Arial, Helvetica, sans-serif;
}